.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 8px;
    background-color: whitesmoke;
    border: 1px solid #f4d570;
  }
  
  .form-inline button {
    padding: 6px 20px;
    background-color: cornflowerblue;
    border: 1px solid #f4d570;
    color: whitesmoke;
  }
  
  .form-inline button:hover {
    background-color: #f4d570;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }